.title-h2 {
  font-size: 1.8em;
  font-weight: 400;
  text-align: center;
}

.lastArticles {
  background-color: var(--lightGray);
  padding: 4em 0 6em;
  &-grid {
    display: grid;
    row-gap: 2em;
  }
}

.card-article {
  background-color: var(--white);
  border-radius: 0.5em;
  overflow: hidden;
}

.card-content {
  padding: 1.7em;
}

.card-autor {
  color: var(--grayBlue);
  font-size: 0.7em;
}

.card-title {
  font-weight: 400;
}

.article-image {
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .title-h2 {
    font-size: 2.5em;
    text-align: left;
  }
  .card-article {
    width: 270px;
    height: 480px;
  }
  .card-content {
  }

  .article-image {
    width: auto;
    object-fit: cover;
  }

  .lastArticles-grid {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1em;
    margin-top: 3em;
  }
}
