.title-h2 {
  font-size: 1.8em;
  font-weight: 400;
  text-align: center;
}

.lastArticles {
  background-color: var(--lightGray);
  padding: 4em 0 6em;
  &-grid {
    display: grid;
    row-gap: 2em;
  }
}

.card-article {
  background-color: var(--white);
  border-radius: 0.5em;
  overflow: hidden;
}

.card-content {
  padding: 1.7em;
}

.card-autor {
  color: var(--grayBlue);
  font-size: 0.7em;
}

.card-title {
  font-weight: 400;
}

.article-image {
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .lastArticles-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
  }
}

@media screen and (min-width: 1024px) {
  .title-h2 {
    font-size: 2.5em;
    text-align: left;
  }
  .card-article {
    width: 450px;
    height: 400px;
  }
  /*   .card-content {
  }
 */
  .article-image {
    width: 100%;
    object-fit: cover;
  }

  .lastArticles-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;
    margin-top: 3em;
    justify-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .card-article {
    width: 250px;
    height: 480px;
  }
  .article-image {
    width: 100%;
    object-fit: cover;
  }
  .lastArticles-grid {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    column-gap: 1em;
    margin-top: 3em;
  }
}
