.choose {
  text-align: center;
  background: var(--gray);
  padding: 4em 0;
}

.choose-title {
  font-size: 2em;
  font-weight: 400;
}

.item {
  &-p {
    margin-bottom: 4em;
  }
  img {
    margin-bottom: 1.5em;
  }
  h4 {
    font-weight: 300;
    margin: 0;
  }
}

.is-hidden {
  display: none;
}
