.choose {
  text-align: center;
  background: var(--gray);
  padding: 4em 0;
}

.choose-title {
  font-size: 2em;
  font-weight: 400;
}

.item {
  &-p {
    margin-bottom: 4em;
  }
  img {
    margin-bottom: 1.5em;
  }
  h4 {
    font-weight: 300;
    margin: 0;
  }
}

.is-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .choose {
    &-grid {
      margin-top: 5em;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5em;
    }
  }
}

@media screen and (min-width: 1024px) {
  .choose {
    text-align: left;
    &-paragraph {
      font-size: 1em;
      line-height: 1.5em;
      display: inline-block;
      width: 52%;
      color: var(--grayBlue);
      margin-bottom: 2.2em;
    }
    &-title {
      font-size: 2.5em;
      margin: 0;
    }
    &-grid {
      margin-top: 5em;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 1em;
    }

    .item {
      //wrapper = 1120px;
      display: inline-block;
      width: 240px;
      height: 280px;
      &-title {
        font-size: 1.5em;
      }
      &-p {
        font-size: 1em;
      }
    }
  }
}
