@mixin resetList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer {
  background-color: #2d314d;
  &-logo {
    display: block;
    padding-top: 1.7em;
    margin: auto;
  }
  &-icons {
    padding: 1.7em 0;
    display: flex;
    justify-content: center;
  }
  &-icon {
    padding-right: 0.8em;
  }
  &-nav {
    display: flex;
    justify-content: center;
    color: var(--gray);
    font-family: "Public Sans", sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
    line-height: 2.2em;
    margin-bottom: 1.7em;
  }
  &-nav ul {
    @include resetList();
  }

  &-button {
    @extend .button;
    outline: none;
    font-size: 0.8em;
  }
  &-paragraph {
    color: var(--grayBlue);
    font-size: 0.8em;
    text-align: center;
    margin: 0;
    padding: 1.8em 0;
  }
}
