.hero {
  text-align: center;
  padding-bottom: 6em;
  &-content {
    height: 550px;
    display: grid;
    grid-template-columns: 420px 1fr;
    grid-template-areas: "description image";
    align-items: center;
  }

  &-description {
    width: 420px;
  }
  &-image {
    //345 medida total del fondo
    border: 1px solid skyblue;
    height: inherit;
    margin: 0 calc(-1 * var(--wrapperSpace));
    background: url("../../assets/images/image-mockups.png") center bottom
        no-repeat,
      url("../../assets/images/bg-intro-mobile.svg") center no-repeat;
    background-size: 345px, cover;
    margin-bottom: 1.2em;
    grid-area: image;
  }
  &-imageSrc {
    display: none;
  }
}
