.header {
  padding: 1em 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--white);
}

.header-image {
  margin: 0;
}

.hero {
  text-align: center;
  padding-bottom: 6em;
}

.hero-image {
  margin: auto;
  height: 345px;
  background-image: url("../../assets/images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
  z-index: -10;
  top: -45px;
}

.hero-image img {
  width: 360px;
  position: relative;
  z-index: -10;
  top: -82px;
}

.menu {
  width: 30px;
  height: 30px;
  background-image: url("../../assets/images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.choose {
  text-align: center;
  background: var(--gray);
  padding-top: 5em;
}

.choose-title {
  font-size: 2em;
  font-weight: 400;
}

.item-p {
  margin-bottom: 4em;
}

.item img {
  margin-bottom: 1.5em;
}

.item h4 {
  font-weight: 300;
  margin: 0;
}

.is-hidden {
  display: none;
}

.title-h2 {
  font-size: 1.8em;
  font-weight: 400;
  text-align: center;
}

.lastArticles {
  background-color: var(--lightGray);
}

.lastArticles-grid {
  display: -ms-grid;
  display: grid;
  row-gap: 2em;
}

.card-article {
  background-color: var(--white);
  border-radius: 0.5em;
  overflow: hidden;
}

.card-content {
  padding: 1.7em;
}

.card-autor {
  color: var(--grayBlue);
  font-size: 0.7em;
}

.card-title {
  font-weight: 400;
}

.article-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background: var(--darkBlue);
  color: var(--white);
  padding: 2em 0;
  text-align: center;
}

.footer__logo {
  display: block;
  margin: auto;
  margin-bottom: 2em;
}

.footer__link {
  display: block;
  color: var(--gray);
  text-decoration: none;
  margin-bottom: 2em;
}

.footer__social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25px)[5];
      grid-template-columns: repeat(5, 25px);
  grid-column-gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2.5em 0;
}

.footer__copyright {
  color: var(--grayBlue);
  margin-top: 2.5em;
}

:root {
  --grayBlue: hsl(233, 8%, 62%);
  --gray: hsl(220, 16%, 96%);
  --lightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --rightCyan: hsl(192, 70%, 51%);
  font-size: 16px;
}

body {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 0 1.9em;
}

.title-h1 {
  font-size: 2.4em;
  font-weight: 400;
  margin: 0px 0 20px 0;
}

.paragraph {
  font-size: 0.9em;
  line-height: 1.5em;
  color: var(--grayBlue);
  margin-bottom: 2.2em;
}

.button {
  display: block;
  margin: 0 auto;
  width: 120px;
  padding: 0.7em 0;
  font-size: 0.9em;
  border-radius: 1.5em;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--limeGreen)), to(var(--rightCyan)));
  background-image: linear-gradient(to right, var(--limeGreen) 0%, var(--rightCyan) 100%);
  color: var(--white);
  text-decoration: none;
  outline: none;
}
/*# sourceMappingURL=style.css.map */